html
  head
    title MyntraBot
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='font-awesome.min.css')
    script(type='text/javascript', src='jquery-1.12.3.min.js')
    link(rel='stylesheet', href='index.css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:400,300', rel='stylesheet', type='text/css')
  
  body
    #main.center
        h1 Welcome to Myntra Bot!
        .row1.center
            #top.actionButton
                img(class="butImage",src="up.png")
        .row2.center
            #left.actionButton
                img(class="butImage", src="left.png")
            #stop.actionButton
                img(class="butImage",src="stop.png")
            #right.actionButton
                img(class="butImage",src="right.png")
        .row3.center
            #down.actionButton
                img(class="butImage",src="down.png")

    script(type='text/javascript', src='actions.js')

</script>