body{
    background-color: #4F4A4A;
    color: #D3D3D3;
    font-family: 'Raleway', sans-serif;
}

#main{
    background-color: #915757;
    border-radius: 5px;
    padding: 10px 30px;
}

.actionButton{
    display: inline-block;
    text-align: center;
}
.butImage{
    width: 70px;
}

.center{
    text-align: center;
}
            
